/* texte et fond d'écran */
body {
    font-family: 'sans-serif';
    text-decoration: none;
    background-repeat: none;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/fond.png);
    color: orange;
}

/* intérieur des cases pour écrire */
#container {
    width: 400px;
    margin: 0 auto;
    margin-top: 0%;
}

/* titre */
#container h1 {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: Calibri;
    color: orange;
}

/* cases pour écrire */
input[type=text],
input[type=password] {
    color: black;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2rem;
}


/* bouton "Créer un compte" */
.button {
    text-decoration: none;
    align-items: flex-start;
    font-size: 1rem;
    font-family: Arial;
    cursor: pointer;
    border: none;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 2rem;
    color: white;
    background-color: orange;
    width: 150px;
    height: 55px;
}

/* bouton de type submit "Se connecter" */
input[type=submit] {
    text-decoration: none;
    font-family: Arial;
    align-items: flex-start;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 2rem;
    color: white;
    background-color: orange;
    width: 180px;
    height: 55px;
}

/* mise en forme de la barre de navigation*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav-list {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: none;
    font-family: sans-serif;
}

.nav-item a {
    color: orange;
    letter-spacing: 1px;
}


/* mettre le logo du côté gauche quand les autres sont du côté droit*/

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}
/* message d'erreur si nom d'utilisateur déjà choisi */
.nomDejaPris {
    color: red;
    position: fixed;
    right: 705px;
    bottom: 300px;
    font-size: 40;
}
/* message d'erreur pour un compte inexistant */
h2 {
    color: red;
    position: fixed;
    right: 25%;
    bottom: 300px;
    font-size: 40;
}
/* message d'erreur pour un mot de passe incorrect */
.mdpInc {
    color: red;
    position: fixed;
    right: 775px;
    bottom: 300px;
    font-size: 40;
}
